<div class="p-20">
  <h1 class="text-4xl font-extrabold text-indigo-900 mb-6 tracking-tight">Doctors list</h1>

  <input
    type="text"
    placeholder="Search by name..."
    [(ngModel)]="searchTerm"
    style="margin-bottom: 10px; padding: 5px; width: 300px;"
  />

  <table border="1" cellpadding="10" cellspacing="0">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Roles</th>
      <th>Last login</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let doctor of filteredDoctors">
      <td>{{ doctor.id }}</td>
      <td>{{ doctor.firstName }} {{ doctor.lastName }}</td>
      <td>{{ doctor.email }}</td>
      <td>
        <ng-container *ngIf="editingDoctorId !== doctor.id; else editRoles">
          {{ doctor.roles.join(', ') }}
          <button (click)="startEdit(doctor)" title="Edit roles" style="margin-left: 5px;">✏️</button>
        </ng-container>

        <ng-template #editRoles>
          <div style="display: flex; flex-direction: column;">
            <div *ngFor="let role of availableRoles">
              <label>
                <input type="checkbox"
                       [checked]="editedRoles.includes(role)"
                       (change)="toggleRole(role)" />
                {{ role }}
              </label>
            </div>
            <div style="margin-top: 5px;">
              <button (click)="saveRoles(doctor)" class="save">Save</button>
              <button (click)="cancelEdit()" style="margin-left: 10px;" class="cancel">Cancel</button>
            </div>
          </div>
        </ng-template>
      </td>
      <td>{{ doctor.lastLoginAt | date: 'dd.MM.yyyy HH:mm:ss' }}</td>
      <td>
        <button (click)="deactivateDoctor(doctor.id)" class="delete">🗑️ Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
