
<h1> 🧾 Generate PDF </h1>
<div class="container">
<div class="image-section new-file">
  <img src="assets/images-help/pdf.png" alt="Patient List">
</div>

<div class="description">
  <p>🧾 PDF Export Functionality
    The application allows you to generate and download a PDF report for any entity, including patients, medications, consultations, EMRs, allergies, recommendations, and referrals.
    This feature ensures easy documentation, sharing, and printing of essential medical data.</p>
</div>

  <h1>Add Medication </h1>

  <div class="image-section new-patient">
  <img src="assets/images-help/medication1.png" alt="Allergies History">
</div>
<div class="image-section new-patient">
  <img src="assets/images-help/medication2.png" alt="Allergies History">
</div>

<div class="description">
  <p></p>
</div>
</div>
