
<div class="table-container">
  <div class="search">
    <mat-form-field appearance="outline">
      <div class="input-search">
        <input (input)="applyFilter($event)" matInput placeholder="Search by name">
        <img src="assets/images/search.png">
      </div>
    </mat-form-field>
  </div>
  <div class="custom-table">
    <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Number </th>
        <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} {{element.lastName}}  </td>
      </ng-container>

      <ng-container matColumnDef="consultation">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Consultations </th>
        <td mat-cell *matCellDef="let element">
          <div class="settings">
            <span appHoverScale (click)="openAddConsultationDialog(element.cnp)">➕</span>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="charts">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Charts </th>
        <td mat-cell *matCellDef="let element">
          <img appHoverScale class="element" src="assets/images/bar-chart.png">
        </td>
      </ng-container>

      <ng-container matColumnDef="alarms">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Alarm history </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button [matBadge]="element.alarms?.length || 0" matBadgeColor="warn" (click)="openAddAlarmDialog(element.cnp)">
            <img class="element" src="assets/images/clock.png">
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="recommendation">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Recommendations </th>
        <td mat-cell *matCellDef="let element">
          <img (click)="openRecommendationDialog(element.cnp)" appHoverScale class="element" src="assets/images/advice.png">
        </td>
      </ng-container>

      <ng-container matColumnDef="settings">
        <th mat-header-cell *matHeaderCellDef>Settings</th>
        <td mat-cell *matCellDef="let element">
          <div class="settings">
            <img appHoverScale (click)="openDeleteConfirmationDialog()" src="assets/images/delete.png">
            <img appHoverScale  src="assets/images/edit.png">
            <img appHoverScale src="assets/images/eye.png">
          </div>
        </td >
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-divider></mat-divider>
    <mat-paginator [length]="100"
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   aria-label="Select page">
    </mat-paginator>
  </div>
  <div>
    <button class="add-button" (click)="openAddNewConsultationDialog()">➕ Add new Consultation</button>
  </div>
</div>
