.table-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  flex-direction: column;

  .custom-table{
    width: 80%;
    margin-top: 1%;
  }
}

.settings{
  display: flex;
  flex-direction: row;
  gap: 8%;
  cursor: pointer;
}

.add-button{
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 5px;
  background-color: #1a1f38;
  color: white;
  border: 2px solid #9ca1c4;
}

.add-button:hover{
  background-color: transparent;
  border: 1px solid #9ca1c4;
  color: #1a1f38;
  border-radius: 5px;
}

.search{
  width: 100%;
  display: flex;
  justify-content: center;

  mat-form-field{
    width: 35%;
  }
}

mat-form-field img[matPrefix] {
  vertical-align: middle;
  margin-top: 4px;
}

.input-search{
  display: flex
;
  flex-direction: row;
  gap: 38%;
}

.element{
  cursor:pointer
}

td{
  height: 5rem !important;
}
