<div class="close">
  <h2>Add Patient Consultation</h2>
  <span (click)="close()">❌</span>
</div>
<mat-divider></mat-divider>
<form [formGroup]="patientForm" (ngSubmit)="onSubmit()">

  <div class="section">
    <h3>Contact Information</h3>
    <div class="field-group">
      <div class="field-group-div">
        <label>Email</label>
        <input formControlName="email" type="email" placeholder="example@mail.com" [readonly]="isViewMode"  />
        <div class="error-message" *ngIf="patientForm.get('email')?.invalid && patientForm.get('email')?.touched">
          Invalid email.
        </div>
      </div>

      <div class="field-group-div">
        <label>Phone*</label>
        <input formControlName="phone" type="tel" placeholder="0712345678" [readonly]="isViewMode" />
        <div class="error-message" *ngIf="patientForm.get('phone')?.invalid && patientForm.get('phone')?.touched">
          Invalid or missing phone number.
        </div>
      </div>

    </div>
  </div>

  <!-- Personal Info -->
  <div class="section">
    <h3>Personal Information</h3>
    <div class="field-group">
      <div class="field-group-div">
        <label>First Name*</label>
        <input formControlName="firstName" type="text" [readonly]="isViewMode" />
        <div class="error-message" *ngIf="patientForm.get('firstName')?.invalid && patientForm.get('firstName')?.touched">
          First name is required (min 2 chars).
        </div>
      </div>

      <div class="field-group-div">
        <label>Last Name*</label>
        <input formControlName="lastName" type="text" [readonly]="isViewMode"/>
        <div class="error-message" *ngIf="patientForm.get('lastName')?.invalid && patientForm.get('lastName')?.touched">
          Last name is required (min 2 chars).
        </div>
      </div>

      <div class="field-group-div">
        <label>CNP*</label>
        <input formControlName="cnp" type="text" placeholder="1234567890123" [readonly]="isViewMode" />
        <div class="error-message" *ngIf="patientForm.get('cnp')?.invalid && patientForm.get('cnp')?.touched">
          Invalid CNP.
        </div>
      </div>

      <div class="field-group-div">
        <label>Age</label>
        <input [value]="age" disabled [readonly]="isViewMode"/>
      </div>


      <div class="field-group-div">
        <label>Occupation*</label>
        <input formControlName="occupation" type="text" [readonly]="isViewMode"/>
        <div class="error-message" *ngIf="patientForm.get('occupation')?.invalid && patientForm.get('occupation')?.touched">
          Invalid occupation.
        </div>
      </div>
    </div>
  </div>

  <!-- Address -->
  <div class="section">
    <h3>Address</h3>
    <div class="field-group">
      <div class="field-group-div">
        <label>City*</label>
        <input formControlName="locality" type="text" [readonly]="isViewMode" />
        <div class="error-message" *ngIf="patientForm.get('locality')?.invalid && patientForm.get('locality')?.touched">
          City is required.
        </div>
      </div>

      <div class="field-group-div">
        <label>Street*</label>
        <input formControlName="street" type="text" [readonly]="isViewMode" />
        <div class="error-message" *ngIf="patientForm.get('street')?.invalid && patientForm.get('street')?.touched">
          Street is required.
        </div>
      </div>

      <div class="field-group-div">
        <label>No*</label>
        <input formControlName="number" type="text" [readonly]="isViewMode" />
        <div class="error-message" *ngIf="patientForm.get('number')?.invalid && patientForm.get('number')?.touched">
          Number is required.
        </div>
      </div>

      <div class="field-group-div">
        <label>Block</label>
        <input formControlName="block" type="text" [readonly]="isViewMode" />
      </div>

      <div class="field-group-div">
        <label>Staircase</label>
        <input formControlName="staircase" type="text" [readonly]="isViewMode" />
      </div>

      <div class="field-group-div">
        <label>Apartment</label>
        <input formControlName="apartment" type="text" [readonly]="isViewMode"/>
      </div>

      <div class="field-group-div">
        <label>Floor</label>
        <input formControlName="floor" type="text" [readonly]="isViewMode" />
      </div>
    </div>
  </div>

  <!-- Medical Info -->
  <div class="section">
    <h3>Medical Information</h3>
    <div class="field-group">
      <div class="field-group-div">
        <label>Blood Group*</label>
        <select formControlName="bloodGroup" [disabled]="isViewMode">
          <option value="">Select your blood group</option>
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="O">O</option>
          <option value="AB">AB</option>
        </select>
        <div class="error-message" *ngIf="patientForm.get('bloodGroup')?.invalid && patientForm.get('bloodGroup')?.touched">
          Blood Group is required.
        </div>
      </div>

      <div class="field-group-div">
        <label>Rh Factor*</label>
        <select formControlName="rh" [disabled]="isViewMode">
          <option value="">Select your Rh Factor</option>
          <option value="+">Positive</option>
          <option value="-">Negative</option>
        </select>
        <div class="error-message" *ngIf="patientForm.get('rh')?.invalid && patientForm.get('rh')?.touched">
          Rh Factor is required.
        </div>
      </div>
    </div>
  </div>

  <!-- Disease Section -->
  <div class="section">
    <h3>Diseases</h3>
    <div class="disease-list">
      <div class="disease-item" *ngFor="let diseaseCtrl of diseases.controls; let i = index" [formGroupName]="i">
        <input formControlName="name" placeholder="Disease name" />
        <select formControlName="category">
          <option value="Infectious">Infectious</option>
          <option value="Chronic">Chronic</option>
          <option value="Genetic">Genetic</option>
          <option value="Autoimmune">Autoimmune</option>
          <option value="Other">Other</option>
        </select>
        <textarea formControlName="description" placeholder="Description"></textarea>
        <img src="assets/images/delete-trash.png">
      </div>
    </div>
    <button type="button" class="button-add-disease" (click)="addDisease()">➕ Add Disease</button>
  </div>

  <div class="section" *ngIf="patientDiseases.length > 0">
    <h3>Existing Diseases</h3>
    <div class="disease-list">
      <div class="disease-item" *ngFor="let disease of patientDiseases">
        <div><strong>Name:</strong> {{ disease.name }}</div>
        <div><strong>Category:</strong> {{ disease.category }}</div>
        <div><strong>Description:</strong> {{ disease.description }}</div>
      </div>
    </div>
  </div>

  <button class="button-add-patient" type="submit" [disabled]="patientForm.invalid" *ngIf="isEditMode">✏️ Edit Patient</button>
  <button class="button-add-patient" type="submit" [disabled]="patientForm.invalid" *ngIf="isAddMode">➕ Add Patient</button>
</form>

