<!--<div class="carousel">-->
<!--  <div-->
<!--    class="page"-->
<!--    *ngFor="let i of [].constructor(totalPages); let idx = index"-->
<!--    [class.active]="idx === currentIndex"-->
<!--    [class.above]="idx < currentIndex"-->
<!--    [class.below]="idx > currentIndex"-->
<!--  >-->
<!--    <ng-container [ngSwitch]="idx">-->

<!--      <ng-container *ngSwitchCase="0">-->
<!--      <app-page1></app-page1>-->
<!--      </ng-container>-->

<!--      <ng-container *ngSwitchCase="1">-->
<!--        <app-page2></app-page2>-->
<!--      </ng-container>-->

<!--      <ng-container *ngSwitchCase="2">-->
<!--        <app-page3></app-page3>-->
<!--      </ng-container>-->
<!--      <ng-container *ngSwitchCase="2">-->
<!--        <app-page4></app-page4>-->
<!--      </ng-container>-->
<!--      <ng-container *ngSwitchCase="2">-->
<!--        <app-page5></app-page5>-->
<!--      </ng-container>-->
<!--      <ng-container *ngSwitchCase="2">-->
<!--        <app-page6></app-page6>-->
<!--      </ng-container>-->


<!--      <ng-container *ngSwitchDefault>-->
<!--        <p class="text-white">Page {{ idx + 1 }}</p>-->
<!--      </ng-container>-->

<!--    </ng-container>-->
<!--  </div>-->
<!--</div>-->

<!--<div><app-page1></app-page1></div>-->
<app-page2></app-page2>
<app-page3></app-page3>
<app-page4></app-page4>
