.grafic {
  width: 100%;
  padding: 0 16px;
  box-sizing: border-box;
}
canvas {
  background-color: transparent !important;
}

.grafic {
  background-color: white;
  padding: 8px;
  border-radius: 8px;
}
