
<div class="h-24"></div>

<div class="container">
  <h1>Add Consultation</h1>

  <div class="image-section">
    <img src="assets/images-help/consultatie1.png" alt="Screenshot 2">
  </div>

  <div class="description">
    <p>👤 Patient Information
      At the top of the page, you can see:

      Full Name, Sex, and CNP of the patient – for easy identification.</p>
  </div>

  <div class="image-section">
    <img src="assets/images-help/consultation2.png" alt="Screenshot 2">
  </div>

  <div class="image-section">
    <img src="assets/images-help/consultation4.png" alt="Doctor List">
  </div>

  <div class="image-section">
    <img src="assets/images-help/consultation5.png" alt="Doctor List">
  </div>

  <div class="description">
    <h3 class="text-lg font-semibold">📤 Send Medical Referral</h3>
    <p>This section allows you to refer the patient to another specialist or doctor. You can:</p>

    <ul class="list-disc list-inside mt-2 space-y-1 text-sm">
      <li>Select a doctor from the dropdown list.</li>
      <li>Choose a referral type.</li>
      <li>Write the reason for the referral.</li>
    </ul>

    <p class="mt-2">Once completed, click <strong>“Submit Referral”</strong> to send it.</p>
  </div>

  <div class="image-section">
    <img src="assets/images-help/c6.png" alt="Doctor List">
  </div>

  <div class="description">
    <h3 >💊 Add New Medication</h3>
    <p>Use this section to prescribe or register a new medication for the patient:</p>

    <ul>
      <li>Fill in medication details: name, dosage, frequency, route, start and end dates, and prescribing doctor.</li>
      <li>You can also add optional notes.</li>
      <li>Click <strong>“Save Changes”</strong> to save the new medication to the patient's record.</li>
    </ul>

    <p class="mt-2">📝 <strong>Validation</strong> ensures that all required fields are completed before submission.</p>
  </div>



  <div class="image-section">
    <img src="assets/images-help/c7.png" alt="Doctor List">
  </div>

  <div class="description">
    <h3 class="text-lg font-semibold ">➕ Add Diagnosis / Condition</h3>
    <p>Here, you can register a new medical diagnosis for the patient:</p>

    <ul>
      <li>Use the diagnosis search component to select a medical condition.</li>
      <li>The corresponding ICD code will be auto-filled.</li>
      <li>Choose the category (chronic, genetic, etc.).</li>
      <li>Add an optional description.</li>
    </ul>

    <p class="mt-2">Click <strong>“Save”</strong> to store the new diagnosis.</p>
  </div>
</div>
